// Repl69 Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
	repl69-color {
		fg "#a3a3a3"
	    bg "#000000"
		black "#000000"
		red "#4e4e4e"
		green "#09aa6f"
		yellow "#666666"
		blue "#525252"
		magenta "#3d3d3d"
		cyan "#3d3d3d"
		white "#a3a3a3"
		orange "#dc4a00"
	};
}
