// Repl69 Monochrome Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
	repl69 {
		fg "#7a7a7a"
	    bg "#000000"
		black "#000000"
		red "#4e4e4e"
		green "#c2c2c2"
		yellow "#666666"
		blue "#525252"
		magenta "#3d3d3d"
		cyan "#3d3d3d"
		white "#7a7a7a"
		orange "#dc4a00"
	};
}
